NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
NEXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
NEXT_PUBLIC_META_PIXEL_ID=XXXXXXXXXXXXXXX
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-XXXXXXXXXX
NEXT_PUBLIC_TIKTOK_PIXEL_ID=XXXXXXXXXXXXXXXX
EXPRESS_URL=https://www.facilitaprep.com.br
NEXT_PUBLIC_DOMAIN=https://www.facilitaprep.com.br
NEXT_PUBLIC_SENTRY_DSN=https://f4f68f71e452d5211be7c6861c0a0a00@o4511343385444352.ingest.us.sentry.io/4511343524118528
